<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>
		<add name="Tournament" connectionString="Server=KYLENUNND4C4;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	<!-- This connection string tells Dapper how to get to SQL Server and how to get in. -->
		<!-- What are transforms? -->
	</connectionStrings>	
</configuration>


